
<h3 class="ms-2 p-2 mt-5 text-center" > {{data}}</h3>

<div class="container w-50  text-center p-5 mt-5" style="background-color:rgba(255, 255, 255, 0.171)">
    
    <h1>Sign In To Bank Account</h1>
    
    <form    [formGroup]="loginForm"   action=""  (ngSubmit)="login()">
        <div class="p-3 mt-2">
            <input type="text"   formControlName="acno"      id="acid"   name="acnum1"  class="form-control"  [placeholder]="inputplaceholder">
        </div>

        <div *ngIf="this.loginForm.get('acno')?.errors && this.loginForm.get('acno')?.touched">
            <p class="text-light"> contain digits only</p>
        </div>


        <div class="p-3 mt-2">
            <input type="password"     formControlName="password"   id="psw1"  name="paswrd1"  class="form-control" placeholder="password">
        </div>

        <div *ngIf="this.loginForm.get('password')?.errors && this.loginForm.get('password')?.touched">
            <p class="text-light"> contain digits and characters only</p>
        </div>


        <div class="p-3 mt-2">
            <button type="submit"       class="btn btn-outline-info">login</button>
        </div>
        <div class="text-center">
            <strong> Not Registerd ?</strong> 
            <a style="text-decoration: none;color: aliceblue;"  routerLink="register" >Register</a>
        </div>


    </form>
</div> 

