
<div class="p-2">
    <h5  style="color: rgb(86, 86, 149);">{{datedetails | date : 'short'}}</h5>
</div>



<div class="text-end   pt-2  pe-4">
    <button type="button"  (click)="logout()"         class="btn btn-info">Log Out</button>
    <button type="button"   (click)="deleteParent()"  class="btn btn-danger ms-2">Delete Account</button>
 </div>


<h1>Welcome {{user}}</h1>

<div   [ngClass]=" acno?'style':'' "   class="p-2 w-25 text-center ms-3 border border-dark rounded-pill"    style="background-color: rgba(255, 255, 255, 0.326);">
    <a style="text-decoration:none; color:blue;"   routerLink="/transaction">View Transaction History</a>
</div>



 

     <app-deleteconfirm   (oncancel)="cancel()"      [item]="acno"></app-deleteconfirm>




     <div class="cintainer row">

    <div   [ngClass]=" acno?'style':'' "    class="text-center container col-lg-6 cl-md-12">
    <div class="container w-75  text-center p-5 mt-5"  style="background-color: rgba(255, 255, 255, 0.29);">

<div class="text-center container col-6">


    <h3>Deposit Form</h3>

    <form action=""    [formGroup]="depositForm">
        
         <div class="p-3 mt-2">
            <input type="text"      formControlName="acno1"   id="acid1"   name="acnum1"  class="form-control"  placeholder="account number">
        </div>
        <div *ngIf="this.depositForm.get('acno1')?.errors && this.depositForm.get('acno1')?.touched">
            <p class="text-light"> contain digits only</p>
        </div>


        <div class="p-3 mt-2">
            <input type="password"   formControlName="psw1"   id="pswid1"   name="paswrd1" class="form-control" placeholder="Password">
        </div>
        <div *ngIf="this.depositForm.get('psw1')?.errors && this.depositForm.get('psw1')?.touched">
            <p class="text-light"> contain digits and characters only</p>
        </div>


        <div class="p-3 mt-2">
            <input type="text"       formControlName="amount1"    id="amountid1"   name="amount1"  class="form-control"  placeholder="deposit amount">
        </div>
        <div *ngIf="this.depositForm.get('amount1')?.errors && this.depositForm.get('amount1')?.touched">
            <p class="text-light"> contain digits only</p>
        </div>
      

        <div class="p-3 mt-2">
            <button type="button"   (click)="deposit()"           class="btn btn-info">Deposit</button>
        </div>               

    </form>
</div>
</div>
</div>



<div    [ngClass]=" acno?'style':'' "   class="text-center container col-lg-6 cl-md-12">

 <div class="container w-75  rounded text-center p-5 mt-5"  style="background-color: rgba(255, 255, 255, 0.222);">

<div class="text-center container col-6">
  
    <h3 class=>Withdrawl Form</h3>

    <form action=""    [formGroup]="withdrwalForm">
        
         <div class="p-3 mt-2">
            <input type="text"      formControlName="acno2"    id="acid2"   name="acnum2"  class="form-control"  placeholder="account number">
        </div>
        <div *ngIf="this.withdrwalForm.get('acno2')?.errors && this.withdrwalForm.get('acno2')?.touched">
            <p class="text-light"> contain digits only</p>
        </div>


        <div class="p-3 mt-2">
            <input type="password"   formControlName="psw2"   id="pswid2"   name="paswrd2" class="form-control" placeholder="Password">
        </div>
        <div *ngIf="this.withdrwalForm.get('psw2')?.errors && this.withdrwalForm.get('psw2')?.touched">
            <p class="text-light"> contain digits and characters only</p>
        </div>


        <div class="p-3 mt-2">
            <input type="text"      formControlName="amount2"    id="amountid2"   name="amount2"  class="form-control"  placeholder="withdrawl amount">
        </div>
        <div *ngIf="this.withdrwalForm.get('amount2')?.errors && this.withdrwalForm.get('amount2')?.touched">
            <p class="text-light"> contain digits only</p>
        </div>



        <div class="p-3 mt-2">
            <button type="button"   (click)="withdrawl()"    class="btn btn-info">Withdrawl</button>
        </div>               

    </form>
</div>

</div>

</div>

</div>