<div class="container w-50  text-center p-5 mt-5" style="background-color:rgba(255, 255, 255, 0.171)">
    
    <h1>Sign Up To Bank </h1>
    
    <form action="">
        <div class="p-3  mt-2">
            <input type="text"  [(ngModel)]="userNAME"   id="userid"  name="user1"   class="form-control"  placeholder="user name">
        </div>

        <div class="p-3 mt-2">
            <input type="text" [(ngModel)]="accNUM"      id="acid"   name="acnum1"  class="form-control"  placeholder="account number">
        </div>

        <div class="p-3 mt-2">
            <input type="password"  [(ngModel)]="psw"   id="psw1"   name="paswrd1" class="form-control" placeholder="Password">
        </div>

        <div class="p-3 mt-2">
            <button type="button"   (click)="register()"   class="btn btn-outline-info">register</button>
        </div>
    </form>

</div>    